@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
.wrapper {
  margin-left: 75px;
  margin-right: 75px;
}
.subheading {
  font-style: Montserrat;
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading {
  font-style: Montserrat;
  font-weight: 700;
  font-size: 1.3em;
}
.imageheadercontainer {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px 10px 0 0;
}
.imageheadercontainer h3 {
  color: rgb(0, 0, 0);
}
.imageheader {
  border: 3px solid black;
  width: 100%;
  text-align: center;
}
.imagecontainer {
  width: 70%;
}

.image {
  width: 100%;
  height: 30%;
  border-radius: 0 0 10px 10px;
}
